<section class="footer-section">
    <div class="brand-logo">
        <img src="../../assets/icons/blue-check.svg">
    </div>

    <div class="mob-social-links">
        <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="" class="facebook"><i class="fa fa-facebook-f"></i></a>
        <a href="" class="linkedin"><img src ="../../assets/icons/iconmonstr-linkedin-3.svg"></a>
    </div>

    <div class="middle-text links">
        <a href="" class="terms-and-condition">Terms & Condition</a>
        <a  class=" line"></a>
        <a href="" class="career">Career</a>
        <a  class=" line"></a>
        <a href="" class="privacy-policy">Privacy Policy</a>
        <a  class=" line"></a>
        <a href="" class="copyright">Leapual Copyright 2020</a>
    </div>

    <div class="social-links">
        <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="" class="facebook"><i class="fa fa-facebook-f"></i></a>
        <a href="" class="linkedin"><img src ="../../assets/icons/iconmonstr-linkedin-3.svg"></a>
    </div>
</section>