mat-radio-group{
    mat-radio-button{
        margin-right: 10px;
        display: block;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

.full{
    margin: 50px 50px;
    mat-card{
        background-color: #9acd323d !important;

    }
}