<section class="head">
    <app-header></app-header>
</section>
<section class="view">
    <div class="intro">
        <div class="in">
            <h2>Our pricing <span>plan for everyone</span></h2>
            <span class="intro-hint">Packages are for individual only</span>
        </div>

        <div class="intro-icon">
            <img src="../assets/icons/discount.svg" >
        </div>
    </div>

    <div class="plans-card">
        <app-plans></app-plans>
    </div>
</section>

<section class="footer">
    <app-footer></app-footer>
</section>
