
@media only screen and (min-width:601px){
    .arrow{
        display: none;
    }
    .plan-info-table{
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
    }

    .mobile-plans{
        display: none;
    }
}
#name{
    text-align: start;
    text-align: left;
    font: Semibold 24px/32px Segoe UI;
    letter-spacing: 0px;
    color: #656565;
}
.itm{
    color: #00D154;
    text-align: center;
    font: Semibold 24px/32px Segoe UI;
}
.silver-itm{
    color: #0090E8;
    text-align: center;
    font: Semibold 24px/32px Segoe UI;
}
.gold-item{
    color: #7A00D1;
    text-align: center;
    font: Semibold 24px/32px Segoe UI;
}
.plan-features{
    border-radius: 50px;
    border: 0px;
    box-shadow: 0px 0px 5px -1px #b5abab;
    .plan-info-table{
        table{
            width: 100%;
            thead{
                tr{
                    td{
                        .plan-fet{
                            justify-content: flex-end;
                            color: #656565;
                            color:#656565;
                            font-size: 40px;
                            font: Black 49px/66px Segoe UI;
                            span{
                                display: block;
                            }
                        }
                        .plan{
                            padding: 20px;
                            height: 45vh;
                            display: flex;

                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            .title{
                                font-size: 3em;
                                font: Black 48px/65px Segoe UI;
                            }
                
                            .price{
                                .amount{
                                    font: Bold 30px Segoe UI;
                                    color: #656565;
                                    opacity: 1;
                                    padding: 0px;
                                    display: block;
                                }
                
                                .rate{
                                    padding: 0px;
                                    font: Regular 20px Segoe UI;
                                    color: #D2D2D2;
                                    opacity: 1;
                                }
                            }
                
                            .activation-btn{
                                width: 10em;
                                height: 35px;
                                box-shadow: 0px 3px 10px #00000029;
                                border-radius: 46px;
                                opacity: 1;
                                border: none;
                            }
                
                            .bronze-activation-btn{
                                background: #FF6700 0% 0% no-repeat padding-box;
                            }
                
                            .silver-activation-btn{
                                color: #FF6700;
                                background: #FFFFFF 0% 0% no-repeat padding-box;
                            }
                
                            .gold-activation-btn{
                                background: #FF6700 0% 0% no-repeat padding-box;
                            }
                        }
                        .bronze-plan{
                            .title{
                                color: #00D154;
                                font-weight: bold;
                            }
                            .price{
                                .amount{
                                    font: Bold 30px Segoe UI;
                                    color: #656565;
                                    opacity: 1;
                                    padding: 0px;
                                    display: block;
                                }
                
                                .rate{
                                    padding: 0px;
                                    font: Regular 20px Segoe UI;
                                    color: #D2D2D2;
                                    opacity: 1;
                                }
                            }
                            border-radius: 20px;
                        }

                        .silver-plan{
                            .title{
                                color: white;
                                font-weight: bold;
                            }
                            .price{
                                .amount{
                                    font: Bold 30px Segoe UI;
                                    color: white;
                                    opacity: 1;
                                    padding: 0px;
                                    display: block;
                                }
                
                                .rate{
                                    padding: 0px;
                                    font: Regular 20px Segoe UI;
                                    color: #D2D2D2;
                                    opacity: 1;
                                }
                            }
                            background-color: #0090E8;
                            border-radius: 20px;
                        }

                        .gold-plan{
                            .title{
                                color: #7A00D1;
                                font-weight: bold;
                            }
                            .price{
                                .amount{
                                    font: Bold 30px Segoe UI;
                                    color: #656565;
                                    opacity: 1;
                                    padding: 0px;
                                    display: block;
                                }
                
                                .rate{
                                    padding: 0px;
                                    font: Regular 20px Segoe UI;
                                    color: #D2D2D2;
                                    opacity: 1;
                                }
                            }
                            border-radius: 20px;
                        }
                    }
                }
            }
            tbody{
                tr{
                    .itm{
                        color: #00D154;
                        text-align: center;
                        font: Semibold 24px/32px Segoe UI;
                    }
                    .silver-itm{
                        color: #0090E8;
                        text-align: center;
                        font: Semibold 24px/32px Segoe UI;
                    }
                    .gold-item{
                        color: #7A00D1;
                        text-align: center;
                        font: Semibold 24px/32px Segoe UI;
                    }
                    .checks{
                        text-align: center;
                    }
                    td{
                        padding: 15px;
                        // text-align: center;
                        
                    }
                    #name{
                        text-align: start;
                        text-align: left;
                        font: Semibold 24px/32px Segoe UI;
                        letter-spacing: 0px;
                        color: #656565;
                    }
                }
                .colorRow{
                    background-color: #F5F5F5;
                }
            }
        }
    }
}

@media(max-width: 600px) {

    .plan-features{
        width: 80vw;
        .plan-info-table{
            width: 80vw;

            table{
                tr{
                    .plan-fet{
                        display: none;
                    }
                    display: flex;
                    flex-direction: column;
                    td{
                        .plan{
                            .arrow{
                                display: block;
                                font-size: 25px;
                                color: #00D154;
                            }
                        }
                        .mobile-plans{
                            padding: 5px 20px;
                            font-size: 10px;
                            a{
                                display: flex;
                                justify-content: space-between;
                                td{
                                    img{
                                        width: 20px;
                                        height: 20px;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
                tbody{
                    display: none;
                }
            }
        }
    }
}